.body{
  margin: 0%;
  padding: 0%;
  width: 1440px;
  height: 1000px;
  background-origin: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* left */
.registerImg{
  height: 1100px;
  width: 850px;
  border-radius:29px;
  margin-top: 70px;
}
.registerImg img{
  height: 1100px;
  width: 830px;
  background-color: #49bbbd9d;
  border-radius: 30px;
}

/* right */
.right{
  width: 454px;
  height: 900px;
}
.registerInfo{
  width: 454px;
  height: 611px;
  padding:40px;
  justify-content: center;
  align-items: center;
  align-content: center;
  /* text-align: center; */

}
.registerInfo p{
  font-size: 16px;
  font-weight: 700;
  /* line-height: 20px; */
  /* text-align: center; */
}

.switch{
  width:329px ;
  height:59px ;
  background-color:#49bbbd9d ;
  border: none;
  border-radius: 33px;
  display: flex;
  justify-items: center;
  margin-bottom: 30px;
  
 
}
.switch ul{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 30px;
  margin:10px 30px;
  

}
.switch ul li{
  display: inline-block;
  border: none;
  
}
.switch ul li a{
  color: white;
  cursor: pointer;
  font-size: 18px;
  font-weight: 700;
  text-decoration: none;
}
.registerButton{
  background-color: #49BBBD;
  width: 120px;
  height: 40px;
  border: none;
  border-radius: 30px;
  padding: 7px  0px;
 
}
/* .registerButton a{
  margin: auto;
  text-decoration: none;
} */

.tx{
  color: black;
  font-size: 18px;
  width: 454px;
}




.registerForm {
  margin-top: 20px;
  width: 454px;

}

.inputGroup {
  width: 435px;
  height:85px;
  border-radius: 30px;
  /* margin: 15px 0px; */
  font-size: 16px;
  margin: 20px 0px;
}

.inputGroup label {
  display: block;
  color: #000000;
  font-size: 16px;
  font-weight: 700;
  width: 150px;
  margin-bottom: 8px;
}

.inputGroup .input {
  width: 435px;
  height: 35px;
  border-radius: 30px;
  border: 1px solid #49BBBD;
  color:black;
  padding-left: 20px;
}

.dropdown{
  width: 435px;
  height:40px;
  border-radius: 30px;
  font-size: 16px;
  margin-bottom: 30px;
  /* display:inline-block; */
}
.dropdown label{
  display: block;
  color: #000000;
  font-size: 18px;
  font-size: 16px;
  font-weight: 700;
  /* width: 150px; */
  /* margin-bottom: 10px; */
}
.dropdown select option{
  width: 150px;
  height: 30px;
  border-radius: 30px;
  border: 1px solid #49BBBD;
  color:black;
  /* padding-left: 20px; */
}

.error{
  color: red;
  font-size: 12px;
  height: 20px;
}

.inputGroup input:focus {
  border-color: #49bbbd9d ;
}

.forgot {
  display: flex;
  line-height:16px;
  width: 108px;
  height: 18px;
  margin: 20px 0px;
}

.forgot a {
  color: #000000;
  text-decoration: none;
  font-size: 12px;
}

.forgot a:hover{
  text-decoration: underline rgba(88, 87, 87, 0.822);
  color:#49bbbd9d;
}
.register{
  width: 232px;
  height: 40px;
  color: white;
  background-color: #49BBBD;
  border: none;
  border-radius: 36px;
  align-self: center;
}
@media (max-width:520px) {
  *{
      margin: 0;
      padding: 0;
      font-size: 10px;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      
  }
  .registerImg{
      display: none;
  }
  .right{
      width: 400px;
      justify-content: left;
      align-content: start;
  }
  .registerInfo{
      padding: 0px;
  }
  .row{
      padding: 0px;
  }
}